.ColorChooser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 25%;
  margin-top: 20px;
  font-family: "VT323", monospace;
  font-size: 2em;
}

.choice {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-bottom: 3px solid #3d3e3a;
  border-right: 3px solid #3d3e3a;
  border-top: 3px solid gray;
  border-left: 3px solid gray;
}

.choice:active {
  border-top: 3px solid #3d3e3a;
  border-left: 3px solid #3d3e3a;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}

.chosen {
  border-top: 3px solid #3d3e3a;
  border-left: 3px solid #3d3e3a;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
