.Nav {
  width: 300px;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #0f020e;
  background: url("../../assets/images/bricks.png");
  background-size: 100%;
  display: block;
}

@media (max-width: 850px) {
  .Nav {
    display: none;
    width: 0;
    height: 0;
    background: none;
  }
}
