.NavLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.off {
  cursor: pointer;
  text-decoration: none;
  color: #664244;
  font-family: "Neon";
  font-size: 2.1em;
  text-decoration: none;
  margin-top: 30px;
  font-weight: bold;
}

.off:hover {
  color: #f3cda5;
  text-shadow: 1px 1px 10px #f3cda5;
}
